* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Rajdhani', sans-serif;
   background-color: beige;
   color: rgb(37, 37, 37);
}

.nav-bar {
   display: grid;
   grid-template-columns: 1fr 3fr;
}

.nav-bar h1 {
   justify-self: center;
   margin-top: 15px;
   font-size: 45px;
   font-weight: 900;
}

.nav-menu {
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: 2fr 1fr;
}

.nav-menu ul {
   list-style: none;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-menu li {
   color: black;
}
.nav-menu li a {
   color: black;
   padding: 10px;
   display: block;
   text-align: center;
   text-decoration: none;
   font-size: 25px;
   font-weight: bold;
}
.nav-menu li a:hover {
   color: slategray;
}

img.logo {
   width: 200px;
}
